services:
  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    environment:
      - QDRANT__SERVICE__MAX_REQUEST_SIZE_MB=100 
      - QDRANT__LOG_LEVEL=INFO
    configs:
      - source: qdrant_config
        target: /qdrant/config/production.yaml
    volumes:
      - ./qdrant_data:/qdrant/storage
    extra_hosts:
      - "host.docker.internal:host-gateway"

configs:
  qdrant_config:
    content: |
      log_level: INFO